<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ufired.Servlet.LoginController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
 <!--   <servlet>
    <servlet-name>GmailLoginController</servlet-name>
    <servlet-class>com.ufired.Servlet.GmailLoginController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GmailLoginController</servlet-name>
    <url-pattern>/GmailLogin</url-pattern>
  </servlet-mapping> -->
  
 <servlet>
    <servlet-name>ContactController</servlet-name>
    <servlet-class>com.ufired.Servlet.ContactController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactController</servlet-name>
    <url-pattern>/Contact</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ufired.Servlet.LogoutController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignUpController</servlet-name>
    <servlet-class>com.ufired.Servlet.SignUpController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpController</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>JobListingController</servlet-name>
    <servlet-class>com.ufired.Servlet.JobListingController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>JobListingController</servlet-name>
    <url-pattern>/JobListingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UrlSignUpController</servlet-name>
    <servlet-class>com.ufired.Servlet.UrlSignUpController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlSignUpController</servlet-name>
    <url-pattern>/UrlSignUpController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ForgotPasswordController</servlet-name>
    <servlet-class>com.ufired.Servlet.ForgotPasswordController</servlet-class>
    <init-param>
      <param-name>development</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordController</servlet-name>
    <url-pattern>/ForgotPasswordController</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>15</session-timeout>
  </session-config>
</web-app>